<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/master.css'  %}">

  </head>

  <body>
      <nav class="navbar mynav" role="navigation" id="navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Star Social</a>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li> <a href="{% url 'posts:create' %}">Post</a> </li>
              <li> <a href="{% url 'groups:all' %}">Groups</a> </li>
              <li> <a href="{% url 'groups:create' %}">Create Group</a> </li>
              <li> <a href="{% url 'accounts:logout' %}">Logout</a> </li>
            {% else %}
              <li> <a href="{% url 'groups:all' %}">Groups</a> </li>
              <li> <a href="{% url 'accounts:login' %}">LogIn</a> </li>
              <li> <a href="{% url 'accounts:signup' %}">SignUp</a> </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <div class="container mycontent">
        {% block content %}

        {% endblock %}
      </div>
      <canvas id="canvas"></canvas>
  </body>
  <script type="text/javascript" src="{% static 'simplesocial/js/master.js' %}">

  </script>
</html>